@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .apresentacao {
        /* Layout principal */
        flex-direction: column-reverse;
        padding: 50px 20px;
        align-items: center;
        gap: 40px;
    }

    .apresentacao__conteudo {
        /* AQUI ESTÁ A CHAVE: O conteúdo do texto terá a mesma largura da imagem */
        width: 100%;
        max-width: 300px; /* Igual ao max-width da imagem */
        padding: 0;
        text-align: center;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;
    }

    .apresentacao__imagem {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .apresentacao__links {
        width: 100%;
        gap: 20px;
    }

    .apresentacao__links__navegacao {
        width: 90%;
    }

    .rodape {
        font-size: 1rem;
    }

    .sobre__texto {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.5;
        padding: 0;
        margin: 0 auto;
        max-width: 300px; /* Alinha com a largura da foto */
    }
}